@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0%;
  padding: 0%;
}
.heading1{
  color: white;
  background-color: rgb(0, 128, 157);
  font-weight:bold;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size:xx-large;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
}
.Description{
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px 1px rgba(183, 230, 239);
  border: 2px solid rgb(184, 248, 255); 
}
.btn {
  background: hsl(0, 0%, 100%);
  padding: 20px 40px 20px 40px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);
  margin: 40px;

  &::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.tasks{
background-color:  rgb(0, 128, 157);
color: white;
padding: 10px;
width: 100%;
}
.render{
  display: flex;
  margin: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
}
.heading5{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
} 
.heading2
{
padding: 5px;
font-size: large;
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
}
.button{
  color: aliceblue;
  background-color:  rgb(0, 128, 157);
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  font-size: medium;
  border:2px solid white;

}